# ON Naukri.com

so , in this notebook we will scrape data from naukri.com website for data-scientist job role and delhi location.we will scrape 4 fields for each job . 1.title of the job, 2.name of the company , 3.location, 4.experience required.

In [1]:
# lets first install the selinium library
!pip install selenium

Requirement already satisfied: selenium in c:\users\ashik\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio~=0.17 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: outcome in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: idna in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sortedcontainers in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: pycparser in c:\users\ashik\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashik\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: certifi in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\users\ashik\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashik\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
#lets import all the libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:
# lets set the path  so that # lets connect to the web browser
driver=webdriver.Chrome(r'E:\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [4]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [5]:
driver.get('https://www.naukri.com/')

In [6]:
# finding element for job search bar
search_field_designation=driver.find_element_by_class_name("suggestor-input ") # job search
search_field_designation.send_keys("Data Analyst")
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input') # location search bar
search_field_location.send_keys("Bangalore")

In [7]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div[1]/div[6]')
search_button.click()

In [8]:
#specifying the url of the webpage to be scrapped
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [9]:
#lets open the webpage through our web driver
driver.get(url)

now we will see in the window opened by webdriver whether the webpage has opened or not. lets check

so. now lets first create 4 empty lists. in these lists the data will be stored while scraping. we have to created 4 empty lists for 4 features which we have to extract

In [10]:
job_titles=[]
company_name=[]
locations=[]
experience=[]

First,we will extract all the tags where the job tites. lets first show on the web page in webpage in which tags the job titles are put.

In [11]:
# so lets extract all the tags having the job- titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="e6e17a397b3c7ce9534d1ad02b8b0467", element="b45b73a3-5dca-4a9d-bc21-3e126e05ba63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6e17a397b3c7ce9534d1ad02b8b0467", element="56839cda-26c5-4d6d-8fff-361777d9ed05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6e17a397b3c7ce9534d1ad02b8b0467", element="9d3e7bc5-4901-47b3-a7e4-3bcb48c0ffea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6e17a397b3c7ce9534d1ad02b8b0467", element="e6e9c9f3-ba8b-4458-ba4d-50b5e8de550d")>]

now we have all the tags in which there are job titles

Now we will extract the text from these tags one by one by looking over these tags

In [12]:
# Now the text of the job title is inside the tags extracted above.

#so we will run a loop to iterate over the tags extracted above
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[0:4]

['Business and Data Analyst',
 'Senior Data Analyst, Data & Analytics',
 'Sr Domain Expert -Data Analysts',
 'SAS Analyst / data Analyst / Business analyst - Sas + SQL']

In [13]:
# so lets extract all the tags having the company
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="e6e17a397b3c7ce9534d1ad02b8b0467", element="c8c8acc0-c0dd-405a-9523-eda44cb715f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6e17a397b3c7ce9534d1ad02b8b0467", element="f42e51bc-7f50-4a9e-b5b4-a6ca95ffa80d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6e17a397b3c7ce9534d1ad02b8b0467", element="1d6013a6-b4af-4188-8096-1432be91f4c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6e17a397b3c7ce9534d1ad02b8b0467", element="8c711901-dc8c-4f04-b9ac-02b8ef6465b3")>]

now we have the tags in which there are the company names

now we will extract the text from these tags by one by looping over these tags

In [14]:
for i in companies_tags:
    company=i.text
    company_name.append(company)
company_name[0:4]

['CAREERDOST ENTERPRISE',
 'ReSource Pro Operational Solutions Pvt Ltd.',
 'Siemens',
 'Leading US MNC into analytics']

In [15]:
#lets extract all the tags having company locations
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="e6e17a397b3c7ce9534d1ad02b8b0467", element="86125c5b-43cd-4465-b425-eaef990dabed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6e17a397b3c7ce9534d1ad02b8b0467", element="acf034d3-e019-4291-b312-960ca8c6d482")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6e17a397b3c7ce9534d1ad02b8b0467", element="f034fa7d-d32c-4bc9-bf3f-f264800056c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6e17a397b3c7ce9534d1ad02b8b0467", element="b140f490-252c-424c-8a4c-20e280cec75d")>]

In [16]:
for i in location_tags:
    location=i.text
    locations.append(location)
locations[0:4]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [17]:
# lets extract all the tags of experience
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="e6e17a397b3c7ce9534d1ad02b8b0467", element="621b58dc-f8b8-4b31-8124-8311db6547f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6e17a397b3c7ce9534d1ad02b8b0467", element="b830957d-456a-4530-bc5a-931b893721e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6e17a397b3c7ce9534d1ad02b8b0467", element="3ce9dbf3-038b-4667-89ae-befc60c31704")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6e17a397b3c7ce9534d1ad02b8b0467", element="95fd9b06-a71f-41cf-a454-a52199bdf888")>]

In [18]:
for i in experience_tags:
    expe=i.text
    experience.append(expe)
experience[0:4]

['0-5 Yrs', '3-5 Yrs', '0-10 Yrs', '2-7 Yrs']

now we extracted all the html tags and we also have the experience of the data.

In [19]:
print(len(job_titles),len(company_name),len(locations),len(experience))

20 20 20 20

length also checked because ,, if length was not equal then data frame not formed

so , we have extracted the data required from webpage and stored them in the 4 lists mentioned above . now before creating a dataframe from these lists.

In [20]:
#import pandas as pd
jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=company_name
jobs['Location']=locations
jobs['Experience']=experience

In [21]:
jobs[0:11]

,Title,Company,Location,Experience
0,Business and Data Analyst,CAREERDOST ENTERPRISE,Bangalore/Bengaluru,0-5 Yrs
1,"Senior Data Analyst, Data & Analytics",ReSource Pro Operational Solutions Pvt Ltd.,Bangalore/Bengaluru,3-5 Yrs
2,Sr Domain Expert -Data Analysts,Siemens,Bangalore/Bengaluru,0-10 Yrs
3,SAS Analyst / data Analyst / Business analyst ...,Leading US MNC into analytics,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",2-7 Yrs
4,Data Analyst II,Cerner,Bangalore/Bengaluru,6-10 Yrs
5,Senior Data Analyst II,Flipkart,Bangalore/Bengaluru,2-4 Yrs
6,Senior Data Analyst II,Flipkart,Bangalore/Bengaluru,3-6 Yrs
7,Consultant - Data Analyst,Jobs Territory,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",0-2 Yrs
8,Senior Data Analyst - Logistics,Gojek,Bangalore/Bengaluru,4-10 Yrs
9,Data Analyst I,Bioclinica,Bangalore/Bengaluru,0-3 Yrs
10,Senior Data Analyst,Shell,Bangalore/Bengaluru,10-12 Yrs

In [22]:
driver.close()

2) Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps

In [23]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ashik\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: outcome in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: idna in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: async-generator>=1.9 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sniffio in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\ashik\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashik\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in c:\users\ashik\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashik\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [66]:
#lets import all the libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [67]:
# lets set the path  so that # lets connect to the web browser
driver=webdriver.Chrome(r'E:\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [68]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [69]:
driver.get('https://www.naukri.com/')

In [70]:
# finding element for job search bar
search_field_designation=driver.find_element_by_class_name("suggestor-input ") # job search
search_field_designation.send_keys("Data Scientist")
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input') # location search bar
search_field_location.send_keys("Bangalore")

In [71]:
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [72]:
#specifying the url of the webpage to be scrapped
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [73]:
#lets open the webpage through our web driver
driver.get(url)

In [74]:
jobtitles=[]
companyname=[]
location=[]
experiences=[]

In [75]:
# so lets extract all the tags having the job- titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="dd338827c0d968c4f6db8df89ab6d2d9", element="309b6090-bba1-49dd-85f3-5feeb010e4a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd338827c0d968c4f6db8df89ab6d2d9", element="55371d8d-28e3-4cdf-b18d-fb1e7b1a313e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd338827c0d968c4f6db8df89ab6d2d9", element="3745ac6e-fdb9-438d-9f4b-fb58d0fb737a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd338827c0d968c4f6db8df89ab6d2d9", element="a3b680ba-0591-49e5-9c44-ab3283961037")>]

In [40]:
# Now the text of the job title is inside the tags extracted above.

#so we will run a loop to iterate over the tags extracted above
for i in titles_tags:
    title=i.text
    jobtitles.append(title)
jobtitles[0:4]

['Associate Data Scientist',
 'Senior Data Scientist (IN4)',
 'Senior Data Scientist',
 'Senior Data Scientist']

In [41]:
# so lets extract all the tags having the company
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="aa83a24a2040af7ea2021e070d7c1685", element="43a7f3ff-4187-4530-b87f-0a591882b762")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa83a24a2040af7ea2021e070d7c1685", element="ba59e1cf-0b34-4bc9-832e-5caafd0d8d17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa83a24a2040af7ea2021e070d7c1685", element="f04161c3-9965-47e2-853c-eba8957bce7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa83a24a2040af7ea2021e070d7c1685", element="e5574feb-e895-4609-9951-27db6ccf77bf")>]

In [42]:
for i in companies_tags:
    company=i.text
    companyname.append(company)
companyname[0:4]

['IDFC FIRST Bank', 'Walmart', 'Walmart', 'Ericsson Global Services']

In [43]:
#lets extract all the tags having company locations
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="aa83a24a2040af7ea2021e070d7c1685", element="8fc9e770-a59d-4ea6-a890-94f450b6a207")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa83a24a2040af7ea2021e070d7c1685", element="b17d2ee2-bdc3-45ba-8530-3233771ec934")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa83a24a2040af7ea2021e070d7c1685", element="ef086c48-e5bf-4101-91d0-837aa0e9a3d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa83a24a2040af7ea2021e070d7c1685", element="1ff95f21-1351-447a-8031-e4f6c57de360")>]

In [44]:
for i in location_tags:
    locations=i.text
    location.append(locations)
location[0:4]

['Mumbai, Pune, Bangalore/Bengaluru, Mumbai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [45]:
# lets extract all the tags of experience
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="aa83a24a2040af7ea2021e070d7c1685", element="f5657080-cf66-4e37-92c7-cb64b071cf00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa83a24a2040af7ea2021e070d7c1685", element="37cb5a9c-2512-47d6-bec3-0c695a292876")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa83a24a2040af7ea2021e070d7c1685", element="158c8c02-4401-40aa-a72e-dfc1437fd0ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa83a24a2040af7ea2021e070d7c1685", element="0c28b9a7-54e9-48de-a26b-35dcaa394d6f")>]

In [46]:
for i in experience_tags:
    experience=i.text
    experiences.append(experience)
experiences[0:4]

['3-7 Yrs', '5-9 Yrs', '5-9 Yrs', '10-15 Yrs']

In [48]:
print(len(jobtitles),len(companyname),len(location),len(experiences))

20 20 20 20

In [62]:
#import pandas as pd
job=pd.DataFrame({})
job['Title']=jobtitles
job['Company']=companyname
job['Location']=location
job['Experience']=experiences

In [63]:
job[0:11]

,Title,Company,Location,Experience
0,Associate Data Scientist,IDFC FIRST Bank,"Mumbai, Pune, Bangalore/Bengaluru, Mumbai",3-7 Yrs
1,Senior Data Scientist (IN4),Walmart,Bangalore/Bengaluru,5-9 Yrs
2,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9 Yrs
3,Senior Data Scientist,Ericsson Global Services,Bangalore/Bengaluru,10-15 Yrs
4,Lead Data Scientist,Groww,Bangalore/Bengaluru,5-8 Yrs
5,Senior Data Scientist,Truecaller,Bangalore/Bengaluru,2-5 Yrs
6,Senior Data Scientist,PayU,Bangalore/Bengaluru,3-7 Yrs
7,Senior Data Scientist,Gojek,Bangalore/Bengaluru,6-12 Yrs
8,Staff Engineer Data Scientist,Infineon Technologies Pvt Ltd,Bangalore/Bengaluru,1-3 Yrs
9,ASSOCIATE DATA SCIENTIST,Hinduja Global,Bangalore/Bengaluru,1-4 Yrs
10,Data Scientist,Applied Materials,Bangalore/Bengaluru,0-3 Yrs

3) In this question you have to scrape data using the filters available on the webpage as shown below:
ASSIGNMENT 2
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [76]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ashik\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: outcome in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sniffio in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: pycparser in c:\users\ashik\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashik\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\ashik\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashik\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [77]:
#lets import all the libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [78]:
# lets set the path  so that # lets connect to the web browser
driver=webdriver.Chrome(r'E:\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [79]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [80]:
driver.get('https://www.naukri.com/')

In [81]:
# finding element for job search bar
search_field_designation=driver.find_element_by_class_name("suggestor-input ") # job search
search_field_designation.send_keys("Data Scientist")
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input') # location search bar
search_field_location.send_keys("Delhi/NCR")
search_button=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [82]:
filter_salary=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
filter_salary.click()

In [83]:
#specifying the url of the webpage to be scrapped
url="https://www.naukri.com/data-scientist-jobs-in-delhi-ncr?k=data%20scientist&l=delhi%2Fncr&ctcFilter=3to6"

In [84]:
#lets open the webpage through our web driver
driver.get(url)

In [85]:
tit=[]
cmp_name=[]
loc=[]
expe=[]
sal=[]

In [86]:
# so lets extract all the tags having the job- titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="20afbe9800c95632f670642cda8527ee", element="32a5d0c4-88b5-4294-9a05-09e9dd9adb80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="20afbe9800c95632f670642cda8527ee", element="f0bcd8d3-9b63-4849-9b60-dd36d4b6861b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="20afbe9800c95632f670642cda8527ee", element="5e7e4773-da06-4d3b-bca5-25f001324ef7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="20afbe9800c95632f670642cda8527ee", element="8ae6d8d6-b664-4e29-9b8c-40ffab78d7b3")>]

In [87]:
# Now the text of the job title is inside the tags extracted above.

#so we will run a loop to iterate over the tags extracted above
for i in titles_tags:
    title=i.text
    tit.append(title)
tit[0:4]

['Associate Data Scientist',
 'Data Scientist (freelance)',
 'Hiring For Senior Data Scientist-Noida',
 'Data Scientist/ Machine Learning, 2022 Passout Can also apply']

In [88]:
# so lets extract all the tags having the company
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="20afbe9800c95632f670642cda8527ee", element="f22e2e11-4417-421c-af52-a2b17914db93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="20afbe9800c95632f670642cda8527ee", element="8d2b3860-1f4c-4981-b5fa-cd61e2bff7a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="20afbe9800c95632f670642cda8527ee", element="730b275c-a63a-49a6-9c97-469a8b63552c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="20afbe9800c95632f670642cda8527ee", element="f8ab5030-df84-4f4f-8144-9474e275ff78")>]

In [89]:
for i in companies_tags:
    company=i.text
    cmp_name.append(company)
cmp_name[0:4]

['Optum', '2Coms', 'Lumiq.ai', 'Creative Hands HR Consultancy']

In [90]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="20afbe9800c95632f670642cda8527ee", element="80ba005c-ce82-484e-a8e7-f6f4b0e1e374")>,
 <selenium.webdriver.remote.webelement.WebElement (session="20afbe9800c95632f670642cda8527ee", element="ca99bb97-4b02-4995-bd86-6e6bb96f851d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="20afbe9800c95632f670642cda8527ee", element="7572e2ea-d751-4bf4-b1a0-a6776fa82f79")>,
 <selenium.webdriver.remote.webelement.WebElement (session="20afbe9800c95632f670642cda8527ee", element="1bd3352f-de84-452d-8f67-47f826261695")>]

In [91]:
for i in location_tags:
    location=i.text
    loc.append(location)
loc[0:4]

['Gurgaon/Gurugram',
 'New Delhi, Delhi',
 'Noida, Greater Noida, Delhi / NCR',
 'Hyderabad/Secunderabad, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [92]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="20afbe9800c95632f670642cda8527ee", element="44e5d833-cf75-4349-9dec-529c5489d04a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="20afbe9800c95632f670642cda8527ee", element="9275836a-3995-4133-a7ba-e5aaa384d6b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="20afbe9800c95632f670642cda8527ee", element="4b080ec7-8f15-4011-8a31-5606ecbf8ab4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="20afbe9800c95632f670642cda8527ee", element="bfcea7ef-e062-4305-b847-0651fccf3a8e")>]

In [93]:
for i in experience_tags:
    experience=i.text
    expe.append(experience)
expe[0:4]

['1-5 Yrs', '2-7 Yrs', '2-6 Yrs', '0-4 Yrs']

In [94]:
salary_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']")
salary_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="20afbe9800c95632f670642cda8527ee", element="9cf1d951-a2a2-46ad-97e2-8ba4c3e15733")>,
 <selenium.webdriver.remote.webelement.WebElement (session="20afbe9800c95632f670642cda8527ee", element="ce6b57d7-71e8-4e0e-8e26-99f5ebf39785")>,
 <selenium.webdriver.remote.webelement.WebElement (session="20afbe9800c95632f670642cda8527ee", element="c6f726df-839a-4696-8881-a736fae39787")>,
 <selenium.webdriver.remote.webelement.WebElement (session="20afbe9800c95632f670642cda8527ee", element="9397b76e-5aad-45a3-838d-084ff33ebe26")>]

In [95]:
for i in salary_tags:
    salary=i.text
    sal.append(salary)
sal[0:4]

['Not disclosed',
 '4,75,000 - 9,75,000 PA.',
 'Not disclosed',
 '5,00,000 - 7,00,000 PA.']

In [96]:
print(len(tit),len(cmp_name),len(loc),len(expe),len(sal))

20 20 20 20 20

In [97]:
#import pandas as pd
jobs=pd.DataFrame({})
jobs['Title']=tit
jobs['Company']=cmp_name
jobs['Location']=loc
jobs['Experience']=expe
jobs['Salary']=sal

In [98]:
jobs[0:11]

,Title,Company,Location,Experience,Salary
0,Associate Data Scientist,Optum,Gurgaon/Gurugram,1-5 Yrs,Not disclosed
1,Data Scientist (freelance),2Coms,"New Delhi, Delhi",2-7 Yrs,"4,75,000 - 9,75,000 PA."
2,Hiring For Senior Data Scientist-Noida,Lumiq.ai,"Noida, Greater Noida, Delhi / NCR",2-6 Yrs,Not disclosed
3,"Data Scientist/ Machine Learning, 2022 Passout...",Creative Hands HR Consultancy,"Hyderabad/Secunderabad, Ahmedabad, Chennai, Ba...",0-4 Yrs,"5,00,000 - 7,00,000 PA."
4,Opening For Data Scientist,Care Health Insurance,Gurgaon/Gurugram,1-5 Yrs,"3,00,000 - 7,00,000 PA."
5,Data Scientist,BlackBuck,"Gurgaon, Bengaluru",3-7 Yrs,Not disclosed
6,Data Scientist,Boston Consulting Group,New Delhi,2-5 Yrs,Not disclosed
7,Senior Data Scientist,iNICU,Delhi,1-5 Yrs,Not disclosed
8,AM Data Scientist - Goods & Service Tax Networ...,NISG (National Institute for Smart Government),Delhi / NCR,3-8 Yrs,Not disclosed
9,Lead Data Scientist,KIA INDIA PRIVATE LIMITED,Gurgaon/Gurugram,7-10 Yrs,Not disclosed
10,Data Scientist - Python/SQL,AVE-Promagne,"Noida, Kota, Mumbai, Chandigarh, Lucknow, Agra...",3-8 Yrs,Not disclosed

4) Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Pric

In [99]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ashik\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: idna in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: cffi>=1.14 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sniffio in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\users\ashik\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashik\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\users\ashik\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashik\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [119]:
#lets import all the libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [120]:
# lets set the path  so that # lets connect to the web browser
driver=webdriver.Chrome(r'E:\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [121]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [122]:
driver.get('https://www.flipkart.com/')

In [123]:
# finding element for job search bar
search_field_designation=driver.find_element_by_class_name("_3704LK") # job search
search_field_designation.send_keys('sunglasses')

search_button=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [124]:
#specifying the url of the webpage to be scrapped
url="https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off"

In [125]:
#lets open the webpage through our web driver
driver.get(url)

In [126]:
Brand=[]
Product_name=[]
Price=[]

In [145]:
# so lets extract all the tags having the - titles
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="31610f976bcc783a3e26513c40ce2fbf", element="99b30433-e85e-432f-a151-3904b25fa8c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="31610f976bcc783a3e26513c40ce2fbf", element="e63acfb5-d702-484a-b051-c96831409bdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="31610f976bcc783a3e26513c40ce2fbf", element="d236412d-dfa1-44e4-94b2-971e1a3c3ed7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="31610f976bcc783a3e26513c40ce2fbf", element="1fa97488-898f-4ccf-b05e-da582f5d925b")>]

In [146]:
# Now the text of the job title is inside the tags extracted above.

#so we will run a loop to iterate over the tags extracted above
for i in brand_tags:
    title=i.text
    Brand.append(title)
Brand[0:4]

['VINCENT CHASE', 'VINCENT CHASE', 'Fastrack', 'PIRASO']

In [147]:
# so lets extract all the tags having the company
Product_Description=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
Product_Description[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="31610f976bcc783a3e26513c40ce2fbf", element="f4da48ed-a9eb-498d-988a-46dee64a0e7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="31610f976bcc783a3e26513c40ce2fbf", element="ac2a3dd8-cfff-4a71-95b3-81bb04718f24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="31610f976bcc783a3e26513c40ce2fbf", element="44cf7c5b-066f-40b4-bc8b-1781bed24ece")>,
 <selenium.webdriver.remote.webelement.WebElement (session="31610f976bcc783a3e26513c40ce2fbf", element="7d6bff7a-804d-4ff2-b9f5-3a0f72c2a51b")>]

In [148]:
for i in Product_Description:
    Pro=i.text
    Product_name.append(Pro)
Product_name[0:4]

['UV Protection Rectangular Sunglasses (50)',
 'UV Protection Cat-eye Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)']

In [149]:
Price_tags=driver.find_elements_by_xpath("//a[@class='_3bPFwb']")
Price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="31610f976bcc783a3e26513c40ce2fbf", element="66c16518-91be-4c5a-9068-cbe7ca8f1dc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="31610f976bcc783a3e26513c40ce2fbf", element="b68c56cb-40d2-4250-b364-3e8f3f4fe2a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="31610f976bcc783a3e26513c40ce2fbf", element="e6231057-dbc2-46b6-a98c-1795108c1be4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="31610f976bcc783a3e26513c40ce2fbf", element="c37890c2-0d85-4c4c-85fc-87d98f1a2f97")>]

In [150]:
for i in Price_tags:
    pri=i.text
    Price.append(pri)
Price[0:4]

['₹649₹1,99967% off\nFree delivery',
 '₹649₹1,99967% off\nFree delivery',
 '₹649₹89927% off\nFree delivery',
 '₹249₹1,59984% off\nFree delivery']

In [154]:
print(len(Brand[0:100]),len(Product_name[0:100]),len(Price[0:100]))

100 100 100

In [157]:
#import pandas as pd
Products=pd.DataFrame({})
Products['Brands']=Brand[0:100]
Products['Companies']=Product_name[0:100]
Products['Price']=Price[0:100]

In [158]:
Products

,Brands,Companies,Price
0,VINCENT CHASE,UV Protection Rectangular Sunglasses (50),"₹649₹1,99967% off\nFree delivery"
1,VINCENT CHASE,UV Protection Cat-eye Sunglasses (54),"₹649₹1,99967% off\nFree delivery"
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹649₹89927% off\nFree delivery
3,PIRASO,UV Protection Aviator Sunglasses (54),"₹249₹1,59984% off\nFree delivery"
4,Lee Topper,Riding Glasses Wrap-around Sunglasses (Free Size),"₹299₹2,49988% off\nFree delivery"
...,...,...,...
95,VINCENT CHASE,UV Protection Wayfarer Sunglasses (62),"₹649₹1,99967% off\nFree delivery"
96,PIRASO,UV Protection Aviator Sunglasses (54),"₹224₹1,59985% off\nFree delivery"
97,New Specs,"UV Protection, Mirrored Round Sunglasses (Free...","₹299₹1,99985% off\nFree delivery"
98,PIRASO,UV Protection Aviator Sunglasses (54),"₹224₹1,59985% off\nFree delivery"
99,VINCENT CHASE,UV Protection Rectangular Sunglasses (52),"₹649₹1,99967% off\nFree delivery"

5)Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:


As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [204]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ashik\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: sniffio in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sortedcontainers in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: idna in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: outcome in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\users\ashik\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashik\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\users\ashik\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashik\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [227]:
#lets import all the libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [228]:
# lets set the path  so that # lets connect to the web browser
driver=webdriver.Chrome(r'E:\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [229]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(1)

In [230]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [209]:
#specifying the url of the webpage to be scrapped
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.'

In [210]:
#lets open the webpage through our web driver
driver.get(url)

In [231]:
Rating=[]
Review_summary=[]
Full_review=[]

In [232]:
search_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span')
search_button.click()

In [235]:
next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
next_button.click()

In [236]:
# so lets extract all the tags having the ratings tags
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="08ad02163c1d1e01897a01d4369a44f3", element="ff9a5b46-1a29-4e5f-99c5-e6ef83f593e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08ad02163c1d1e01897a01d4369a44f3", element="b3848122-1184-435c-b20c-69a852f7c184")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08ad02163c1d1e01897a01d4369a44f3", element="55337870-4bbc-4b1e-9171-6d523a3d2322")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08ad02163c1d1e01897a01d4369a44f3", element="fe5313e7-d4e9-41f7-8bb4-415158ba5edb")>]

In [237]:
# Now the text of the rating content is inside the tags extracted above.

for i in rating_tags:
    rat=i.text
    Rating.append(rat)
Rating[0:4]

['5', '5', '5', '5']

In [238]:
# so lets extract all the tags having the company
Review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
Review[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="08ad02163c1d1e01897a01d4369a44f3", element="62070f87-3869-432b-a9eb-611174d827ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08ad02163c1d1e01897a01d4369a44f3", element="f824ba29-d42d-4f8a-8a65-874b1216e1f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08ad02163c1d1e01897a01d4369a44f3", element="78b6c537-91a7-4379-9b86-8a3bfbf7065b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08ad02163c1d1e01897a01d4369a44f3", element="19c5fbe4-afed-42fa-8cea-864433b8c189")>]

In [239]:
for i in Review:
    rew=i.text
    Review_summary.append(rew)
Review_summary[0:4]

['Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Worth every penny']

In [240]:
full_review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
full_review_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="08ad02163c1d1e01897a01d4369a44f3", element="f66467c5-3571-4ff5-ad54-c417374babe2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08ad02163c1d1e01897a01d4369a44f3", element="53f1f08f-3be5-4874-a228-5306c6af21fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08ad02163c1d1e01897a01d4369a44f3", element="94e49c21-cd45-4d09-83f9-7066de310df0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="08ad02163c1d1e01897a01d4369a44f3", element="56057df2-091e-41e0-bc07-75b1fc829a73")>]

In [241]:
for i in full_review_tags:
    full=i.text
    Full_review.append(full)
Full_review[0:4]

['iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.']

In [242]:
print(len(Rating),len(Review_summary),len(Full_review))

10 10 10

In [243]:
#import pandas as pd
Product=pd.DataFrame({})
Product['Rating']=Rating
Product['Review_summary']=Review_summary
Product['full_review']=Full_review

In [244]:
Product

,Rating,Review_summary,full_review
0,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
1,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
2,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
3,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
5,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
6,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
7,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
8,5,Classy product,Totally in love with this ❤ the camera quality...
9,5,Terrific,Really worth of money. i just love it. It is t...

6)Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [254]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ashik\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio~=0.17 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: idna in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sniffio in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: outcome in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\ashik\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashik\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\ashik\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashik\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [255]:
#lets import all the libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [256]:
# lets set the path  so that # lets connect to the web browser
driver=webdriver.Chrome(r'E:\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [257]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(1)

In [258]:
driver.get('https://www.flipkart.com/')

In [260]:
# finding element for job search bar
search_field_designation=driver.find_element_by_class_name("_3704LK") # job search
search_field_designation.send_keys('sneakers')

search_button=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_button.click()

In [261]:
#specifying the url of the webpage to be scrapped
url='https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off'

In [262]:
#lets open the webpage through our web driver
driver.get(url)

In [263]:
Brand=[]
Product_name=[]
Price=[]

In [264]:
# so lets extract all the tags having the - titles
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a05b6c361903c6001bc0cbf575e8524b", element="4ac525f0-80e9-4e8d-9202-74e242ada6ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a05b6c361903c6001bc0cbf575e8524b", element="880ffae8-8bbb-4f62-b3f6-588bec8c8704")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a05b6c361903c6001bc0cbf575e8524b", element="e45fd7e9-e7d9-4965-a4d5-66b2539611cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a05b6c361903c6001bc0cbf575e8524b", element="a699cd4c-1055-45f5-b82d-57ccb2bb513e")>]

In [265]:
# Now the text of the  title is inside the tags extracted above.

#so we will run a loop to iterate over the tags extracted above
for i in brand_tags:
    title=i.text
    Brand.append(title)
Brand[0:4]

['URBANBOX', 'Magnolia', 'corsac', 'BRUTON']

In [266]:
# so lets extract all the tags having the company
Product_Description=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
Product_Description[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a05b6c361903c6001bc0cbf575e8524b", element="517c89ba-0652-4b67-8b30-f04b95d686b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a05b6c361903c6001bc0cbf575e8524b", element="110e818b-af12-4fb1-9035-1fbbb934e5c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a05b6c361903c6001bc0cbf575e8524b", element="fddb356d-2171-4829-a18f-8f8c44874b9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a05b6c361903c6001bc0cbf575e8524b", element="e45a95bf-9e9f-4803-9b44-b52b2204dae9")>]

In [267]:
for i in Product_Description:
    Pro=i.text
    Product_name.append(Pro)
Product_name[0:4]

['Sneakers For Men',
 'STYLISH MENS BLACK SNEAKER Sneakers For Men',
 'Canvas shoes for Men Sneakers For Men',
 'STR2 Sneakers For Men']

In [268]:
Price_tags=driver.find_elements_by_xpath("//a[@class='_3bPFwb']")
Price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a05b6c361903c6001bc0cbf575e8524b", element="52547659-4f70-4410-a969-6deaa0790e45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a05b6c361903c6001bc0cbf575e8524b", element="f965f502-8983-4472-b955-d8af3a69dcbb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a05b6c361903c6001bc0cbf575e8524b", element="3273f45a-b97f-45e8-aab7-4ccb70fde081")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a05b6c361903c6001bc0cbf575e8524b", element="b407e60b-1e99-4022-8157-d3651f237309")>]

In [269]:
for i in Price_tags:
    pri=i.text
    Price.append(pri)
Price[0:4]

['₹142₹99985% off',
 '₹351₹99964% off\nFree delivery',
 '₹424₹1,49971% off\nFree delivery',
 '₹299₹1,29976% off\nFree delivery']

In [270]:
print(len(Brand[0:35]),len(Product_name[0:35]),len(Price[0:35]))

35 35 35

In [271]:
Products

,Title,Rating,Price
0,"Dell New 15"" Gaming Laptop i5-11400H, 16GB, 51...",39,"77,990"
1,Redmi Book Pro Intel Core i5 11th Gen 15.6-inc...,"Get it by Tomorrow, May 5\nFREE Delivery by Am...","44,990"
2,ASUS VivoBook 15 (2021) Intel Core i5-1035G1 1...,"1,082","46,990"
3,"HP Pavilion 14,11th Gen Intel Core i5 16GB RAM...","Get it by Tomorrow, May 5\nFREE Delivery by Am...","62,990"
4,Lenovo IdeaPad Gaming 3 Intel Core i5 10th Gen...,5,"53,990"
5,(Refurbished) Dell Latitude Intel 2nd Gen Core...,"Get it by Tomorrow, May 5\nFREE Delivery by Am...","18,837"
6,Lenovo IdeaPad Slim 3 10th Gen Intel Core i5 1...,343,"48,490"
7,Acer Aspire 3 11th Generation Intel Core i5-11...,"Get it by Tomorrow, May 5\nFREE Delivery by Am...","49,990"
8,Lenovo IdeaPad Slim 3 11th Gen Intel Core i5 1...,"1,165","50,990"

7)Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image

In [313]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ashik\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: idna in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sortedcontainers in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: async-generator>=1.9 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: outcome in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\users\ashik\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashik\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: certifi in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\users\ashik\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashik\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [328]:
#lets import all the libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [342]:
# lets set the path  so that # lets connect to the web browser
driver=webdriver.Chrome(r'E:\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [343]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [344]:
driver.get('https://www.myntra.com/shoes')

In [352]:
filter_color=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
filter_color.click()

In [353]:
filter_price=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
filter_price.click()

In [354]:
#specifying the url of the webpage to be scrapped
url='https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A7187.0_14125.0_7187.0%20TO%2014125.0'

In [355]:
#lets open the webpage through our web driver
driver.get(url)

In [356]:
Brand=[]
Product_name=[]
Price=[]

In [371]:
# so lets extract all the tags having the - titles
brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="844089109e5df8b75ff4bcada64d2d64", element="392a5914-db1e-4712-877e-91f1ffc25771")>,
 <selenium.webdriver.remote.webelement.WebElement (session="844089109e5df8b75ff4bcada64d2d64", element="b766bd07-57a3-446b-9e13-f828802508ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="844089109e5df8b75ff4bcada64d2d64", element="3c3bdb85-30bc-46bf-93df-388c3effc86a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="844089109e5df8b75ff4bcada64d2d64", element="bbc0eb20-f983-4de2-b043-8b0988827498")>]

In [372]:
# Now the text of the  title is inside the tags extracted above.

#so we will run a loop to iterate over the tags extracted above
for i in brand_tags:
    title=i.text
    Brand.append(title)
Brand[0:4]

['ALDO', 'ALDO', 'Nike', 'UNDER ARMOUR']

In [373]:
# so lets extract all the product tags having the company
Product_Description=driver.find_elements_by_xpath("//h4[@class='product-product']")
Product_Description[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="844089109e5df8b75ff4bcada64d2d64", element="3e7ff271-df10-40c9-a09b-f7026caf528c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="844089109e5df8b75ff4bcada64d2d64", element="94a042a3-0dbf-4213-aa71-8cba52141534")>,
 <selenium.webdriver.remote.webelement.WebElement (session="844089109e5df8b75ff4bcada64d2d64", element="61dfe59f-a547-4c83-85f5-af2a62b5fdd2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="844089109e5df8b75ff4bcada64d2d64", element="8a017466-b59a-49e4-8318-a8d432071c2c")>]

In [374]:
for i in Product_Description:
    Pro=i.text
    Product_name.append(Pro)
Product_name[0:4]

['Men Woven Design Sneakers',
 'Men Leather Loafers',
 'Men KF 5 EP Basketball Shoes',
 'Project Rock Training shoes']

In [375]:
Price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")
Price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="844089109e5df8b75ff4bcada64d2d64", element="87a982f0-9334-48e6-9455-71e6597145dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="844089109e5df8b75ff4bcada64d2d64", element="b5f90a15-bff8-411f-8430-0ad6c9f92e73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="844089109e5df8b75ff4bcada64d2d64", element="5ebe7259-167c-4686-8273-a5aea6b18a91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="844089109e5df8b75ff4bcada64d2d64", element="22195234-937d-42a0-b707-eaea243bfd0f")>]

In [376]:
for i in Price_tags:
    pri=i.text
    Price.append(pri)
Price[0:4]

['Rs. 13999', 'Rs. 12999', 'Rs. 8195', 'Rs. 9999']

In [377]:
print(len(Brand),len(Product_name),len(Price))

100 100 100

In [378]:
#import pandas as pd
Products=pd.DataFrame({})
Products['Brands']=Brand
Products['Short_Shoe_description']=Product_name
Products['price_of_the_shoe']=Price

In [379]:
Products

,Brands,Short_Shoe_description,price_of_the_shoe
0,ALDO,Men Woven Design Sneakers,Rs. 13999
1,ALDO,Men Leather Loafers,Rs. 12999
2,Nike,Men KF 5 EP Basketball Shoes,Rs. 8195
3,UNDER ARMOUR,Project Rock Training shoes,Rs. 9999
4,Nike,Women React MR 3 Running Shoes,Rs. 10495
...,...,...,...
95,ADIDAS,Women KarlieKlossX9000 Running,Rs. 13999
96,ADIDAS,Women Dropset Training Shoes,Rs. 12999
97,Hush Puppies,Men Solid Leather Formal Derbys,Rs. 8499Rs. 9999(15% OFF)
98,Geox,Men Textured Leather Driving Shoes,Rs. 9990
99,Geox,Men Textured Leather Driving Shoes,Rs. 10990

8)Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ashik\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio~=0.17 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: async-generator>=1.9 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sortedcontainers in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: idna in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: pycparser in c:\users\ashik\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashik\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: certifi in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\users\ashik\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashik\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [15]:
#lets import all the libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [35]:
# lets set the path  so that # lets connect to the web browser
driver=webdriver.Chrome(r'E:\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [36]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(1)

In [37]:
driver.get('https://www.amazon.in/')

In [57]:
search_field_designation=driver.find_element_by_id("twotabsearchtextbox") # job search
search_field_designation.send_keys('laptops')

search_button=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_button.click()

In [58]:
search_button=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[12]/span/a/div/label/i')
search_button.click()

In [59]:
url='https://www.amazon.in/s?k=laptops&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598162031&dc&qid=1651639090&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_12'

In [60]:
#lets open the webpage through our web driver
driver.get(url)

In [65]:
Brand=[]
Rating=[]
Price=[]

In [66]:
brand_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="017363cadba00b4a8457edfaf4d86da9", element="411ad0b3-b8fe-4085-b794-a2619c4948e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="017363cadba00b4a8457edfaf4d86da9", element="c30e9e20-c576-400f-81a0-227b931b0f6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="017363cadba00b4a8457edfaf4d86da9", element="9340e5a3-feda-44ec-bc15-ae7583ef494b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="017363cadba00b4a8457edfaf4d86da9", element="e6385291-85e6-4780-946a-dd9b2c68e751")>]

In [67]:
#so we will run a loop to iterate over the tags extracted above
for i in brand_tags:
    title=i.text
    Brand.append(title)
Brand[0:4]

['Honor MagicBook X 14, Intel Core i5-10210U 14 inch (35.56 cm) FHD IPS Anti-Glare Thin and Light Laptop (8GB/512GB PCIe SSD/Windows 10/1.38Kg), Gray, (NobleBR-WAH9E)',
 'Lenovo IdeaPad 3 10th Gen Intel Core i5 15.6" FHD Thin & Light Laptop (8GB/512GB SSD/Windows 11/Office 2021/2 Yr Warranty/Platinum Grey/1.7Kg), 81WB01DFIN',
 'Mi NoteBook Ultra 3.2K resolution display Intel Core i5-11300H 11th Gen 15.6-inch(39.62 cm) Thin & Light laptop(16GB/512GB SSD/Iris Xe Graphics/Win 11/MS Office 21/Backlit KB/Fingerprint sensor/1.7Kg)',
 'Lenovo ThinkBook 14 Intel Core i5 11th Gen 14" (35.56cm) FHD IPS Thin & Light Laptop (16GB RAM/512GB SSD/Windows 11 Home/MS Office 2021/FPR/Intel Iris Xe Graphics Mineral Grey/1.4 kg), 20VDA0TLIH']

In [71]:
Productrating=driver.find_elements_by_xpath("//div[@class='a-section a-spacing-none a-spacing-top-micro']")
Productrating[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="017363cadba00b4a8457edfaf4d86da9", element="016b8e9b-46b2-4826-af7b-23c4c661e6f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="017363cadba00b4a8457edfaf4d86da9", element="2b15a413-3261-4329-a38f-cc0ea143ca70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="017363cadba00b4a8457edfaf4d86da9", element="e81e2df7-6102-4a94-a01c-f06f74c5c2d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="017363cadba00b4a8457edfaf4d86da9", element="7c9ca0ec-9071-4e45-a29f-868f23f1c880")>]

In [72]:
for i in Productrating:
    Pro=i.text
    Rating.append(Pro)
Rating[0:4]

['', '', '', '']

In [73]:
price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="017363cadba00b4a8457edfaf4d86da9", element="45dddd02-b99d-4472-80ab-bf2f0153b6d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="017363cadba00b4a8457edfaf4d86da9", element="4aa08222-5f47-41ce-9528-b48e9b4da277")>,
 <selenium.webdriver.remote.webelement.WebElement (session="017363cadba00b4a8457edfaf4d86da9", element="354d8809-e6e2-4acc-a884-bb4b49c089a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="017363cadba00b4a8457edfaf4d86da9", element="4b130be2-5b15-42e0-9924-7dffea35ebee")>]

In [75]:
for i in price_tags:
    Pri=i.text
    Price.append(Pri)
Price[0:4]

['46,990', '46,390', '59,990', '59,990']

In [77]:
print(len(Brand[0:35]),len(Rating[0:30]),len(Price[0:35]))

30 30 30

In [84]:
#import pandas as pd
Products=pd.DataFrame({})
Products['Title']=Brand[20:29]
Products['Rating']=Rating[20:29]
Products['Price']=Price[20:29]

In [85]:
Products

,Title,Rating,Price
0,"Dell New 15"" Gaming Laptop i5-11400H, 16GB, 51...",39,"77,990"
1,Redmi Book Pro Intel Core i5 11th Gen 15.6-inc...,"Get it by Tomorrow, May 5\nFREE Delivery by Am...","44,990"
2,ASUS VivoBook 15 (2021) Intel Core i5-1035G1 1...,"1,082","46,990"
3,"HP Pavilion 14,11th Gen Intel Core i5 16GB RAM...","Get it by Tomorrow, May 5\nFREE Delivery by Am...","62,990"
4,Lenovo IdeaPad Gaming 3 Intel Core i5 10th Gen...,5,"53,990"
5,(Refurbished) Dell Latitude Intel 2nd Gen Core...,"Get it by Tomorrow, May 5\nFREE Delivery by Am...","18,837"
6,Lenovo IdeaPad Slim 3 10th Gen Intel Core i5 1...,343,"48,490"
7,Acer Aspire 3 11th Generation Intel Core i5-11...,"Get it by Tomorrow, May 5\nFREE Delivery by Am...","49,990"
8,Lenovo IdeaPad Slim 3 11th Gen Intel Core i5 1...,"1,165","50,990"

9) Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [86]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ashik\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sniffio in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: async-generator>=1.9 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sortedcontainers in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: outcome in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\users\ashik\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashik\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in c:\users\ashik\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashik\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [139]:
#lets import all the libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [140]:
driver=webdriver.Chrome(r'E:\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [141]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(1)

In [142]:
driver.get('https://www.ambitionbox.com/')

In [143]:
companies_button=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[2]')
companies_button.click()

In [144]:
search_field_designation=driver.find_element_by_xpath("/html/body/div/div/div/main/div[2]/aside/div/div[3]/div[2]/input") # job search
search_field_designation.send_keys('Data Scientist')

In [145]:
box_buttonds=driver.find_element_by_xpath('/html/body/div/div/div/main/div[2]/aside/div/div[3]/div[3]/div[1]/div/div/label')
box_buttonds.click()

In [146]:
search_field_designation=driver.find_element_by_xpath("/html/body/div/div/div/main/div[2]/aside/div/div[4]/div[2]/input") # job search
search_field_designation.send_keys('noida')

In [147]:
box_buttonds=driver.find_element_by_xpath('/html/body/div/div/div/main/div[2]/aside/div/div[4]/div[3]/div[1]/div[1]/div/label')
box_buttonds.click()

In [148]:
url='https://www.ambitionbox.com/list-of-companies?CompanyLocation=noida&sort_by=popularity&designation=data-scientist'

In [149]:
#lets open the webpage through our web driver
driver.get(url)

In [150]:
companyname=[]
posteddate=[]
rating=[]

In [155]:
companyname_tags=driver.find_elements_by_xpath("//h2[@class='company-name bold-title-l']")
companyname_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="aa55406b32542d46b2dd69c48afb22a6", element="7a9ccd64-df55-4daf-b80d-d7d5a9bfce8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa55406b32542d46b2dd69c48afb22a6", element="a722f847-4470-470f-a895-9cd1923a6352")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa55406b32542d46b2dd69c48afb22a6", element="68ac2d50-b41c-45fe-8d05-458e671cf40e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa55406b32542d46b2dd69c48afb22a6", element="c41c2f1d-d676-488d-bcc0-c17776017e0e")>]

In [156]:
#so we will run a loop to iterate over the tags extracted above
for i in companyname_tags:
    title=i.text
    companyname.append(title)
companyname[0:4]

['TCS', 'Glorious Insight', 'IBM', 'Cognizant']

In [159]:
Descriptionupto=driver.find_elements_by_xpath("//p[@class='infoEntity sbold-list-header']")
Descriptionupto[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="aa55406b32542d46b2dd69c48afb22a6", element="4b1c3791-1bc5-4531-908b-278deba39e7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa55406b32542d46b2dd69c48afb22a6", element="69c68a98-ca16-4198-add8-9e0496028015")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa55406b32542d46b2dd69c48afb22a6", element="af0efa95-4ebc-4d14-bffb-f77bd6d22179")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa55406b32542d46b2dd69c48afb22a6", element="d2f6d47f-0625-4312-bf44-389abd9c5899")>]

In [160]:
for i in Descriptionupto:
    Pro=i.text
    posteddate.append(Pro)
posteddate[0:4]

['Public',
 'Mumbai,Maharashtra + 233 more',
 '54 years old',
 '1 Lakh+ Employees (India)']

In [162]:
rating_tags=driver.find_elements_by_xpath("//div[@class='rating-wrapper']")
rating_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="aa55406b32542d46b2dd69c48afb22a6", element="699c0041-bee9-4887-a2ed-528d37e015c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa55406b32542d46b2dd69c48afb22a6", element="74338889-8359-4358-b33c-b9fbd7ce0715")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa55406b32542d46b2dd69c48afb22a6", element="f42d262d-e5cc-4e00-a84d-b7204b629f6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aa55406b32542d46b2dd69c48afb22a6", element="d182b5b1-29c1-4b8b-b052-27f3de44509c")>]

In [164]:
for i in rating_tags:
    rat=i.text
    rating.append(rat)
rating[0:4]

['3.9\n(37.6k Reviews)',
 '5.0\n(413 Reviews)',
 '4.1\n(12.9k Reviews)',
 '3.9\n(23.2k Reviews)']

In [165]:
print(len(companyname[0:10]),len(posteddate[0:10]),len(rating[0:10]))

10 10 10

In [168]:
company=pd.DataFrame({})
company['company_name']=companyname[:10]
company['Descriptions']=posteddate[:10]
company['Rating']=rating[:10]

In [169]:
company

       company_name                   Descriptions                Rating
0               TCS                         Public  3.9\n(37.6k Reviews)
1  Glorious Insight  Mumbai,Maharashtra + 233 more    5.0\n(413 Reviews)
2               IBM                   54 years old  4.1\n(12.9k Reviews)
3         Cognizant      1 Lakh+ Employees (India)  3.9\n(23.2k Reviews)
4         Accenture                          Noida  4.1\n(25.4k Reviews)
5          Ericsson        11-50 Employees (India)   4.3\n(4.6k Reviews)
6     Tech Mahindra                         Public  3.7\n(17.3k Reviews)
7         Capgemini     Armonk,New York + 105 more  3.9\n(18.6k Reviews)
8             Wipro                  111 years old  3.9\n(21.7k Reviews)
9  HCL Technologies      1 Lakh+ Employees (India)  3.8\n(18.4k Reviews)

10)Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/

In [170]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ashik\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio~=0.17 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ashik\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: outcome in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: async-generator>=1.9 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: sniffio in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ashik\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: pycparser in c:\users\ashik\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\ashik\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\ashik\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\users\ashik\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ashik\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [171]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [172]:
driver=webdriver.Chrome(r'E:\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [173]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(1)

In [174]:
driver.get('https://www.ambitionbox.com/profile/data-scientist-salary')

In [175]:
url='https://www.ambitionbox.com/profile/data-scientist-salary'

In [176]:
companyname=[]
totalsalary=[]
avgsalary=[]
minsalary=[]

In [177]:
companyname_tags=driver.find_elements_by_xpath("//div[@class='name']")
companyname_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="573840ff7108477c95640e14143ff995", element="3e64cc4b-5ee4-493b-aecf-fcfb99300fa9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="573840ff7108477c95640e14143ff995", element="508cbd29-d3f0-4a71-9b14-015c6bb80334")>,
 <selenium.webdriver.remote.webelement.WebElement (session="573840ff7108477c95640e14143ff995", element="80e0a8bb-11e0-47c2-a3af-ad3b8db3078c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="573840ff7108477c95640e14143ff995", element="0b9b4687-93ac-49a0-be3e-fd440d10435d")>]

In [179]:
for i in companyname_tags:
    title=i.text
    companyname.append(title)
companyname[0:4]

['TCS\n(779 Salaries)',
 'Accenture\n(463 Salaries)',
 'IBM\n(375 Salaries)',
 'Cognizant\n(301 Salaries)']

In [180]:
totalsal_tags=driver.find_elements_by_xpath("//div[@class='value body-medium']")
totalsal_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="573840ff7108477c95640e14143ff995", element="f4c2f19a-a345-4889-9f92-cf85e47f19fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="573840ff7108477c95640e14143ff995", element="b2d560eb-af0e-41f8-8633-ca514ad0ce8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="573840ff7108477c95640e14143ff995", element="075e3288-98a6-44ac-a433-f4ed91a53b50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="573840ff7108477c95640e14143ff995", element="c0ba0d27-94c1-4ebc-97b7-2f02c737de7b")>]

In [181]:
for i in totalsal_tags:
    title=i.text
    totalsalary.append(title)
totalsalary[0:4]

['₹ 3.0L', '₹ 16.0L', '₹ 9.3L', '₹ 41.9L']

In [191]:
avgsal_tags=driver.find_elements_by_xpath("//p[@class='averageCtc']")
avgsal_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="573840ff7108477c95640e14143ff995", element="f3ab20e8-c8f3-4ce5-9c52-4e9968900613")>,
 <selenium.webdriver.remote.webelement.WebElement (session="573840ff7108477c95640e14143ff995", element="8aab2ffe-b22a-4d51-be7b-5832b30f6bd2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="573840ff7108477c95640e14143ff995", element="283fd920-3f70-494f-98f4-880fd29240dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="573840ff7108477c95640e14143ff995", element="9e392ed4-037a-4326-ba33-09423649386b")>]

In [192]:
for i in avgsal_tags:
    title=i.text
    avgsalary.append(title)
avgsalary[0:4]

['₹ 7.1L', '₹ 20.1L', '₹ 7.0L', '']

In [194]:
minsal_tags=driver.find_elements_by_xpath("//div[@class='value body-medium']")
minsal_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="573840ff7108477c95640e14143ff995", element="82600c65-5273-49f6-b097-c12daf9540eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="573840ff7108477c95640e14143ff995", element="d858ffc9-45d5-44d7-b168-580ac440ce1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="573840ff7108477c95640e14143ff995", element="9793b9e3-4133-446b-9cc5-4c352b173dde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="573840ff7108477c95640e14143ff995", element="b4cd8325-b4b0-41bf-84d9-fbfc760962c4")>]

In [196]:
for i in minsal_tags:
    title=i.text
    minsalary.append(title)
minsalary[0:4]

['₹ 3.0L', '₹ 16.0L', '₹ 9.3L', '₹ 41.9L']

In [199]:
print(len(companyname[0:10]),len(totalsalary[0:10]),len(minsalary[:10]),len(avgsalary[0:10]))

10 10 10 10

In [202]:
companies=pd.DataFrame({})
companies['company_name']=companyname[:10]
companies['TODAY_SALARY']=totalsalary[:10]
companies['MIN_SALARY']=minsalary[:10]
companies['VEG_SALARY']=avgsalary[:10]

In [203]:
companies

                        company_name TODAY_SALARY MIN_SALARY VEG_SALARY
0                TCS\n(779 Salaries)       ₹ 3.0L     ₹ 3.0L     ₹ 7.1L
1          Accenture\n(463 Salaries)      ₹ 16.0L    ₹ 16.0L    ₹ 20.1L
2                IBM\n(375 Salaries)       ₹ 9.3L     ₹ 9.3L     ₹ 7.0L
3          Cognizant\n(301 Salaries)      ₹ 41.9L    ₹ 41.9L
4          Capgemini\n(292 Salaries)       ₹ 3.0L     ₹ 3.0L
5            Infosys\n(219 Salaries)      ₹ 19.2L    ₹ 19.2L
6      Tech Mahindra\n(214 Salaries)
7              Wipro\n(212 Salaries)
8           Deloitte\n(157 Salaries)
9  Fractal Analytics\n(148 Salaries)                             ₹ 7.7L

# THE END